.name {
    font-family: "Londrina Shadow", sans-serif;
    text-align: center;
    background-color: bisque;
    
    margin: 0px;
    border-radius: 50px;
}
.joysa p{
padding: 0%;
text-align: center;
font-size: 25px;
font-family: "Kalam", cursive;
color:rgb(214, 215, 211);
background-color: rgb(18, 0, 70);
margin: 0px;
border-radius: 50px;
}
.aarohi p{
    padding: 0%;
    text-align: center;
    font-size: 25px;
    font-family: "Kalam", cursive;
    color:rgb(214, 215, 211);
    background-color: rgb(18, 0, 70);
    margin: 0px;
    border-radius: 50px;
    }
 body {
        position: relative;
        text-align: center;
        flex: 1;
        margin: 0;
    }
    
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://thumbs.dreamstime.com/z/pile-sticky-notes-whiteboard-colorful-diverse-brainstorming-ideas-captured-presented-captivating-depth-using-macro-285343005.jpg?w=768);
        background-size: cover;
        background-position: center;
        filter: blur(8px); /* Adjust the blur intensity */
        z-index: -1; /* Keeps it behind the content */
    }
h1{
    font-family: "Honk", system-ui;
margin-left: 50%;

    
}

.jpic{
float: left;
    /* padding:20px; */
    margin-top: 50px;
    height: 380px;
         padding:20px; 
    padding: 0px;
    border-radius: 100px;
}
.apic{
    float: right;
    margin-top: 50px;
    height: 380px;
         /* padding:20px;  */
    padding: 0px;
    border-radius: 100px;
    }

.joysa{
    font-size: 50px;
    padding:20px;
margin-top: 30px;
}
.aarohi{
    font-size: 50px;
    padding:20px;
margin-top: 30px;
}
a{
    text-decoration: none;
    color:wheat;
}
    
